html { 
    width: 95vw;
    background: url(Assets/Full\ Res-15.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
  }

* {
    text-align: center;
    margin: 0;
}

body {
    width: 95vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.box {
    background-color: #f8f9faea;
    margin: auto;
    z-index: 10;
    border-radius: 3px;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.5);
    width: 35vw;
    max-width: 90%;
    min-width: 300px;
    overflow:auto;
}

#intro {
    position: fixed;
    bottom: 8.5vh;
    left: 0;
    right: 0;
    height: 25vh;
}

#socials {
    position: fixed;
    bottom: 2.5vh;
    left: 0;
    right: 0;
    margin: auto;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

a {
    height: 75%;
    text-align: center;
}

.social-icon {
    z-index: 11;
    height: 100%;
    margin: 0;
    text-align: center;
    transition-duration: 0.20s;
}

.social-icon:hover {
    transition-duration: 0.20s;
    filter: drop-shadow(0 0 1.5px rgba(0, 0, 0, 0.5));
}

#github {
    margin-left: 20px;
}

#resume {
    margin-right: 20px;
}

h1 {
    font-family: Merriweather;
    color: #343A40;
    margin: 20px 0 0 0;
    padding: 0;
    font-size: min(max(1.75rem, 2vw), 64px);
}

h2 {
    font-family: Merriweather;
    color: #343A40;
    margin: 10px 0 0 0;
    padding: 0;
    font-size: min(max(1.15rem, 2vw), 30px);
}

p {
    padding: 2% 5%;
    line-height: 1.5rem;
    color: #343A40;
    font-size: min(max(1rem, 2vw), 20px);
}

h5 {
    font-family: Merriweather;
    font-size: min(max(0.9rem, 1vw), 16px);
    padding: 1% 0;
}